{% extends "diary/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    {% include "diary/messages.html" %}

    <div>
        <h2>My entries</h2>
        <a href="{% url 'entry-add' %}">New entry</a>
        {% for entry in entries %}
            <div>
                <a href="{% url 'entry-detail' entry.id %}">{{ entry.day }}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h2>My incidents</h2>
        <a href="{% url 'incident-add' %}">New incident</a>
        {% for incident in incidents %}
            <div>
                <a href="{% url 'incident-detail' incident.id %}">{{ incident.created_at }} {{ incident.name }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
