{% extends "diary/base.html" %}

{% block title %}Entry detail{% endblock %}

{% block content %}
    <h1>Entry detail</h1>

    {% include "diary/messages.html" %}

    <p><b>Day:</b> {{ object.day }}</p>

    {% if object.description %}
        <p><b>Description:</b></p>
        <pre>{{ object.description }}</pre>
    {% endif %}

    <p><b>Productivity rating:</b> {{ object.productivity_rating }}</p>
    <p><b>Happiness rating:</b> {{ object.happiness_rating }}</p>

    {% if object.incidents.count %}
        <p><b>Incidents:</b></p>
        <ul>
        {% for incident in object.incidents.all %}
            <li>
                <a href="{% url 'incident-detail' incident.id %}">{{ incident.name }}</a>
                <a href="{% url 'entry-unlink-incident' entry.id incident.id %}">Unlink</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'entry-update' object.id %}">Edit</a>
    <a href="{% url 'entry-delete' object.id %}">Delete</a>
{% endblock %}
