{% extends "diary/base.html" %}

{% block title %}Entries{% endblock %}

{% block content %}
    <h1>Entries</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Productivity rating</th>
            <th scope="col">Happiness rating</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for entry in object_list %}
                <tr>
                    <td>{{ entry.day }}</td>
                    <td>{{ entry.productivity_rating }}</td>
                    <td>{{ entry.happiness_rating }}</td>
                    <td><a href="{% url 'entry-detail' entry.id %}">Details</a></td>
                </tr>
            {% empty %}
                <tr><td colspan="3">No entries yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}