<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Incident</title>
        {% load bootstrap4 %}

        {% bootstrap_css %}
    </head>
    <body>
        <div class="container">
            <h1>Workdiary: Incident</h1>

            <form method="post">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>

        </div>
    </body>
</html>
